name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-nsmount:
    name: Build nsmount
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c #v1.15.2

      - name: Build
        run: |
          cargo install cross --git https://github.com/cross-rs/cross
          make build

      - if: startsWith(github.ref, 'refs/tags/')
        run: |
          cp ./target/x86_64-unknown-linux-gnu/release/nsmount ./target/nsmount.amd64
          cp ./target/aarch64-unknown-linux-gnu/release/nsmount ./target/nsmount.arm64

      - name: Publish GH Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: nsmount ${{ github.ref_name }}
          artifacts: "target/nsmount.amd64,target/nsmount.arm64,LICENSE"
          generateReleaseNotes: true
